$gray1: #4b4b4b;
$gray2: #787878;
$gray3: #999999;
$gray5: #d3d3d3;
$gray6: #e9e9e9;
$gray7: #F5F5F5;

$white: #ffffff;
$black: #000000;

$blue2: #2d4054;
$blue4: #9ed6ee;

$green2: #06bab2;
$green4: #c7ebeb;

$yellow2: #ffdb6e;
$yellow3: #ffeebb;

$red2: #ef6167;
$red3: #ffadb1;
